body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita barras de desplazamiento */
    background-color: #000;
}

#ui-info {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    pointer-events: none; /* Para que el clic pase al 3D */
    z-index: 100;
}